@font-face {
font-family: big_font;
src: url('https://www.github.com/lisali567/hbll14/blob/master/static/css/DOMINICA.TTF') format('truetype');
}

body {
    text-align:center;
    font: 14px "Helvetica Neue";
    color: lightblue;
    background-color: rgb(160, 137, 16);
}

h1, h2 {
    font-family: big_font;
}