<head>
<title>Phase One.</title>
<link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
<h1>일 Phase.</h1>
<h2>안녕하세요 {{ name }} !</h2>
You have:
<ul>
{{ the_list }}
</ul>
Wild Card is: 1 free action!
<br>

<h2>The free stuff:</h2>
{{ piles }}

<h2>What will you do??</h2>

<form action="phase_two" method="POST">
<select name="select_actions" class="select">
  <option name="action" value="0" class="option">Get free stuff!</option>
  <option name="action" value="1" class="option">Buy stuff! </option>
  <option name="action" value="2" class="option">Sell something</option>
  <option name="action" value="3" class="option">Build something</option>
  <option name="action" value="4" class="option">Use wild card action!</option>
</select>
<input type="submit" method="POST" class="button">
</form>
</body>
